# Pandas Series

In [1]:
import pandas as pd

In [ ]:
# create series object using list
data = [1,2,3,4,5]
series = pd.Series(data)

In [3]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data2 = [23,34,90,'sneha',2.2,'s']
series2 = pd.Series(data2)
series2

0       23
1       34
2       90
3    sneha
4      2.2
5        s
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [7]:
type(series2)

pandas.core.series.Series

In [14]:
# create series object using dictionary
dataX = {'k1':10,'k2':20,'k3':30}
s = pd.Series(dataX)
s

k1    10
k2    20
k3    30
dtype: int64

In [16]:
series = pd.Series([23,44,56,11,23],index=['i','ii','iii','iv','v'])
series

i      23
ii     44
iii    56
iv     11
v      23
dtype: int64

# Pandas DataFrame

In [17]:
import pandas as pd

In [18]:
dataList = [2,3,4,51,8,9]

In [20]:
df = pd.DataFrame(dataList) # create df object using list

In [21]:
df

    0
0   2
1   3
2   4
3  51
4   8
5   9

In [22]:
dict = {'fruits':['banana','apple','mango','grapes','pineapple'],'count':[12,6,18,40,29]}

In [23]:
df = pd.DataFrame(dict) # create df object using dictionary

In [24]:
df

      fruits  count
0     banana     12
1      apple      6
2      mango     18
3     grapes     40
4  pineapple     29

In [37]:
series = pd.Series([11,22,33,44],index = ['l1','l2','l3','l4']) # create df object using series

In [38]:
df = pd.DataFrame(series)

In [39]:
df

     0
l1  11
l2  22
l3  33
l4  44

In [40]:
import numpy as np

In [41]:
array = np.array([[1,2,3],[4,5,6],[7,8,9]]) # create df object using numpy array

In [42]:
df = pd.DataFrame(array)

In [43]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
pd.DataFrame([1,2,3,4,5])

   0
0  1
1  2
2  3
3  4
4  5

In [45]:
pd.DataFrame({'k1':[11,22,33],'k2':[111,222,333],'k3':[1111,2222,3333]})

   k1   k2    k3
0  11  111  1111
1  22  222  2222
2  33  333  3333

In [46]:
pd.DataFrame({'k1':[11,22,33],'k2':[111,222,333],'k3':[1111,2222,3333]},index = ['x','y','z'])

   k1   k2    k3
x  11  111  1111
y  22  222  2222
z  33  333  3333

In [48]:
pd.DataFrame(pd.Series(['a','sneha',12,12.3],index = ['p','q','r','s']))

       0
p      a
q  sneha
r     12
s   12.3

In [49]:
pd.DataFrame(np.array([[12,23,45],[21,32,43]]),index = ['row1','row2'])

       0   1   2
row1  12  23  45
row2  21  32  43

In [50]:
s = pd.Series(['a','sneha',12,12.3],index = ['p','q','r','s'])

In [52]:
pd.DataFrame({'values':s})

  values
p      a
q  sneha
r     12
s   12.3

In [66]:
t = np.array([[12,23,45],[21,32,43]])

In [68]:
pd.DataFrame({'col1':t[0],'col2':t[1]},index = ['row1','row2','row3'])

      col1  col2
row1    12    21
row2    23    32
row3    45    43

# DataFrame Merge Operation

In [69]:
import pandas as pd

In [70]:
# creating first df
player = ['player1','player2','player3']
point = [8,9,10]
title = ['g1','g2','g3']

In [71]:
df1 = pd.DataFrame({'player':player,'point':point,'title':title})

In [72]:
df1

    player  point title
0  player1      8    g1
1  player2      9    g2
2  player3     10    g3

In [73]:
# creating second df
player = ['player1','player5','player6']
power = ['punch','kick','boxing']
title = ['g1','g5','g6']

In [74]:
df2 = pd.DataFrame({'player':player,'power':power,'title':title})

In [75]:
df2

    player   power title
0  player1   punch    g1
1  player5    kick    g5
2  player6  boxing    g6

In [76]:
df1.merge(df2,on = 'player',how = 'inner') # inner merge

    player  point title_x  power title_y
0  player1      8      g1  punch      g1

In [77]:
df1.merge(df2,on = 'title',how = 'inner')

  player_x  point title player_y  power
0  player1      8    g1  player1  punch

In [78]:
df1.merge(df2,on = 'player',how = 'left') # left merge

    player  point title_x  power title_y
0  player1      8      g1  punch      g1
1  player2      9      g2    NaN     NaN
2  player3     10      g3    NaN     NaN

In [79]:
df1.merge(df2,on = 'player',how = 'right') # right merge

    player  point title_x   power title_y
0  player1    8.0      g1   punch      g1
1  player5    NaN     NaN    kick      g5
2  player6    NaN     NaN  boxing      g6

In [80]:
df1.merge(df2,on = 'player',how = 'outer') #  outer merge

    player  point title_x   power title_y
0  player1    8.0      g1   punch      g1
1  player2    9.0      g2     NaN     NaN
2  player3   10.0      g3     NaN     NaN
3  player5    NaN     NaN    kick      g5
4  player6    NaN     NaN  boxing      g6

In [81]:
df2.merge(df1,on='title',how = 'outer')

  player_x   power title player_y  point
0  player1   punch    g1  player1    8.0
1  player5    kick    g5      NaN    NaN
2  player6  boxing    g6      NaN    NaN
3      NaN     NaN    g2  player2    9.0
4      NaN     NaN    g3  player3   10.0

# DataFrame Join Operation

In [82]:
# creating first df
player = ['player1','player2','player3']
point = [8,9,10]
title = ['g1','g2','g3']

In [84]:
df1 = pd.DataFrame({'player':player,'point':point,'title':title},index = ['l1','l2','l3'])
df1

     player  point title
l1  player1      8    g1
l2  player2      9    g2
l3  player3     10    g3

In [93]:
players = ['player1','player5','player6']
power = ['kick','punch','boxing']
titles = ['g1','g5','g6']

In [94]:
df2 = pd.DataFrame({'players':players,'power':power,'titles':titles},index = ['l2','l3','l4'])
df2

    players   power titles
l2  player1    kick     g1
l3  player5   punch     g5
l4  player6  boxing     g6

In [95]:
df1.join(df2,how = 'inner')

     player  point title  players  power titles
l2  player2      9    g2  player1   kick     g1
l3  player3     10    g3  player5  punch     g5

In [96]:
df1.join(df2,how = 'left')

     player  point title  players  power titles
l1  player1      8    g1      NaN    NaN    NaN
l2  player2      9    g2  player1   kick     g1
l3  player3     10    g3  player5  punch     g5

In [97]:
df1.join(df2,how = 'right')

     player  point title  players   power titles
l2  player2    9.0    g2  player1    kick     g1
l3  player3   10.0    g3  player5   punch     g5
l4      NaN    NaN   NaN  player6  boxing     g6

In [98]:
df1.join(df2,how = 'outer')

     player  point title  players   power titles
l1  player1    8.0    g1      NaN     NaN    NaN
l2  player2    9.0    g2  player1    kick     g1
l3  player3   10.0    g3  player5   punch     g5
l4      NaN    NaN   NaN  player6  boxing     g6

# Concatenation of two dataframes

In [102]:
pd.concat([df1,df2],sort=True)

     player  players  point   power title titles
l1  player1      NaN    8.0     NaN    g1    NaN
l2  player2      NaN    9.0     NaN    g2    NaN
l3  player3      NaN   10.0     NaN    g3    NaN
l2      NaN  player1    NaN    kick   NaN     g1
l3      NaN  player5    NaN   punch   NaN     g5
l4      NaN  player6    NaN  boxing   NaN     g6

# Data Analysis using Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mtcars.csv")

In [3]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
df.head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [6]:
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [7]:
df.tail(3)

            model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
29   Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [8]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.shape

(32, 12)

In [17]:
df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    32 non-null object
mpg      32 non-null float64
cyl      32 non-null int64
disp     32 non-null float64
hp       32 non-null int64
drat     32 non-null float64
wt       32 non-null float64
qsec     32 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [18]:
df.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [19]:
df.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [20]:
df.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [21]:
df.min()

model    AMC Javelin
mpg             10.4
cyl                4
disp            71.1
hp                52
drat            2.76
wt             1.513
qsec            14.5
vs                 0
am                 0
gear               3
carb               1
dtype: object

In [22]:
df.max()

model    Volvo 142E
mpg            33.9
cyl               8
disp            472
hp              335
drat           4.93
wt            5.424
qsec           22.9
vs                1
am                1
gear              5
carb              8
dtype: object

In [23]:
df.count()

model    32
mpg      32
cyl      32
disp     32
hp       32
drat     32
wt       32
qsec     32
vs       32
am       32
gear     32
carb     32
dtype: int64

In [25]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

# Data Cleaning using Pandas

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("mtcars.csv")

In [28]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [29]:
df = df.rename(columns = {'unnamed:1':'model'})

In [30]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [31]:
df = df[{'model','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb'}].corr()

In [32]:
df

,carb,gear,disp,mpg,am,wt,qsec,hp,vs,cyl,drat
carb,1.000000,0.274073,0.394977,-0.550925,0.057534,0.427606,-0.656249,0.749812,-0.569607,0.526988,-0.090790
gear,0.274073,1.000000,-0.555569,0.480285,0.794059,-0.583287,-0.212682,-0.125704,0.206023,-0.492687,0.699610
disp,0.394977,-0.555569,1.000000,-0.847551,-0.591227,0.887980,-0.433698,0.790949,-0.710416,0.902033,-0.710214
mpg,-0.550925,0.480285,-0.847551,1.000000,0.599832,-0.867659,0.418684,-0.776168,0.664039,-0.852162,0.681172
am,0.057534,0.794059,-0.591227,0.599832,1.000000,-0.692495,-0.229861,-0.243204,0.168345,-0.522607,0.712711
wt,0.427606,-0.583287,0.887980,-0.867659,-0.692495,1.000000,-0.174716,0.658748,-0.554916,0.782496,-0.712441
qsec,-0.656249,-0.212682,-0.433698,0.418684,-0.229861,-0.174716,1.000000,-0.708223,0.744535,-0.591242,0.091205
hp,0.749812,-0.125704,0.790949,-0.776168,-0.243204,0.658748,-0.708223,1.000000,-0.723097,0.832447,-0.448759
vs,-0.569607,0.206023,-0.710416,0.664039,0.168345,-0.554916,0.744535,-0.723097,1.000000,-0.810812,0.440278
cyl,0.526988,-0.492687,0.902033,-0.852162,-0.522607,0.782496,-0.591242,0.832447,-0.810812,1.000000,-0.699938
drat,-0.090790,0.699610,-0.710214,0.681172,0.712711,-0.712441,0.091205,-0.448759,0.440278,-0.699938,1.000000

In [33]:
df.mpg

carb   -0.550925
gear    0.480285
disp   -0.847551
mpg     1.000000
am      0.599832
wt     -0.867659
qsec    0.418684
hp     -0.776168
vs      0.664039
cyl    -0.852162
drat    0.681172
Name: mpg, dtype: float64

In [34]:
df = pd.read_csv("mtcars.csv")

In [35]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [36]:
df.mpg = df.mpg.astype(int)

In [37]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [38]:
df.gear = df.gear.astype(float)

In [39]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.46,0,1,4.0,4
1,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.02,0,1,4.0,4
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.61,1,1,4.0,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.44,1,0,3.0,1
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.02,0,0,3.0,2
5,Valiant,18,6,225.0,105,2.76,3.460,20.22,1,0,3.0,1
6,Duster 360,14,8,360.0,245,3.21,3.570,15.84,0,0,3.0,4
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.00,1,0,4.0,2
8,Merc 230,22,4,140.8,95,3.92,3.150,22.90,1,0,4.0,2
9,Merc 280,19,6,167.6,123,3.92,3.440,18.30,1,0,4.0,4
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.90,1,0,4.0,4
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.40,0,0,3.0,3
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.60,0,0,3.0,3
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.00,0,0,3.0,3
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.98,0,0,3.0,4
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.82,0,0,3.0,4
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.42,0,0,3.0,4
17,Fiat 128,32,4,78.7,66,4.08,2.200,19.47,1,1,4.0,1
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.52,1,1,4.0,2
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.90,1,1,4.0,1
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.01,1,0,3.0,1
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.87,0,0,3.0,2
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.30,0,0,3.0,2
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.41,0,0,3.0,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.05,0,0,3.0,2
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,18.90,1,1,4.0,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.70,0,1,5.0,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.90,1,1,5.0,2
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.50,0,1,5.0,4
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.50,0,1,5.0,6
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.60,0,1,5.0,8
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.60,1,1,4.0,2

In [40]:
df = pd.read_csv("mtcars.csv")

In [41]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [49]:
df

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1

In [52]:
df = pd.read_csv("mtcars.csv")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [51]:
df.drop(columns = ['carb','gear','am'])

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1

In [53]:
df.vs = df.vs.fillna(df.vs.mean())

In [54]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# Data Manipulation using Pandas

In [55]:
import pandas as pd

In [56]:
df = pd.read_csv("mtcars.csv")

In [57]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [58]:
df.iloc[:1]

       model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [59]:
df.iloc[:,1]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [60]:
df.iloc[0:5,4]

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int64

In [61]:
df.iloc[25:,4:]

     hp  drat     wt  qsec  vs  am  gear  carb
25   66  4.08  1.935  18.9   1   1     4     1
26   91  4.43  2.140  16.7   0   1     5     2
27  113  3.77  1.513  16.9   1   1     5     2
28  264  4.22  3.170  14.5   0   1     5     4
29  175  3.62  2.770  15.5   0   1     5     6
30  335  3.54  3.570  14.6   0   1     5     8
31  109  4.11  2.780  18.6   1   1     4     2

In [62]:
df.iloc[1,1]

21.0

In [63]:
df.iloc[0,:]

model    Mazda RX4
mpg             21
cyl              6
disp           160
hp             110
drat           3.9
wt            2.62
qsec         16.46
vs               0
am               1
gear             4
carb             4
Name: 0, dtype: object

In [64]:
df.iloc[:,0]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

In [65]:
df.loc[:,"mpg"]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [66]:
df.loc[1:5,"gear"]

1    4
2    4
3    3
4    3
5    3
Name: gear, dtype: int64

In [67]:
df['am'] = 10

In [68]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,10,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,10,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,10,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,10,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,10,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,10,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,10,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,10,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,10,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,10,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,10,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,10,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,10,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,10,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,10,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,10,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,10,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,10,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,10,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,10,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,10,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,10,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,10,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,10,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,10,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,10,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,10,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,10,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,10,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,10,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,10,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,10,4,2

In [69]:
df['gear'] = 0

In [70]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,10,0,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,10,0,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,10,0,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,10,0,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,10,0,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,10,0,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,10,0,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,10,0,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,10,0,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,10,0,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,10,0,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,10,0,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,10,0,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,10,0,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,10,0,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,10,0,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,10,0,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,10,0,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,10,0,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,10,0,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,10,0,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,10,0,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,10,0,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,10,0,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,10,0,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,10,0,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,10,0,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,10,0,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,10,0,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,10,0,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,10,0,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,10,0,2

In [71]:
df = pd.read_csv("mtcars.csv")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [72]:
f = lambda x:x**2

In [73]:
df['am'] =df['am'].apply(f)

In [74]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [75]:
df['gear'] = df['gear'].apply(f)

In [76]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,16,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,16,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,16,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,9,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,9,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,9,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,9,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,16,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,16,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,16,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,16,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,9,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,9,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,9,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,9,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,9,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,9,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,16,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,16,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,16,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,9,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,9,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,9,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,9,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,9,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,16,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,25,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,25,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,25,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,25,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,25,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,16,2

In [3]:
import pandas as pd
df = pd.read_csv("mtcars.csv")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [16]:
df = df.sort_values(by = "gear")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6

In [13]:
df['cyl'] >5

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29     True
30     True
31    False
Name: cyl, dtype: bool

In [17]:
df = df.sort_values(by = "gear",ascending = False)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4